*{
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background-color: #6565f5;
}

#jasarakit{
    padding-top: 10rem;
    background-color: #5050f7;
}

footer {
    background-color: #6565f5;
}
